<ion-header [translucent]="true">
  <ion-toolbar color="vinho">
    <ion-title>Truco</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">

    <h3>Valendo</h3>

    <div class="top">
      <ion-button size="default"></ion-button>
      <ion-button size="default"></ion-button>
      <ion-button size="default"></ion-button>
      <ion-button size="default"></ion-button>
      <ion-button size="default"></ion-button>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col>
          <h1>aa</h1>
        </ion-col>
        <ion-col>
          <h1>aa</h1>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>
