<ion-header [translucent]="true">
  <ion-toolbar color="vinho">
    <ion-title class="ion-text-center"> CARA OU COROA </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-coin">
    <!--a imagem virou variavel-->
    <img [@rotatedStated]="state" [src]="image" alt="" />
    <!-- imprimir texto com interloculação {{}} -->
    <h1>{{info}}</h1>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar (click)="jogarMoeda()" class="btn">
    <ion-title class="ion-text-center"> Jogar a moeda! </ion-title>
  </ion-toolbar>
</ion-footer>
